$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-icon-add: "\e900";
$icon-icon-addlocation: "\e901";
$icon-icon-arrowback: "\e902";
$icon-icon-arrowbotom: "\e903";
$icon-icon-arrowright: "\e904";
$icon-icon-arrowup: "\e905";
$icon-icon-balcony: "\e906";
$icon-icon-building: "\e907";
$icon-icon-building-1: "\e908";
$icon-icon-bullet: "\e909";
$icon-icon-calendar-outline: "\e90a";
$icon-icon-cards: "\e90b";
$icon-icon-chat: "\e90c";
$icon-icon-check: "\e90d";
$icon-icon-close: "\e90e";
$icon-icon-comments: "\e90f";
$icon-icon-creditcard: "\e910";
$icon-icon-date: "\e911";
$icon-icon-delete: "\e912";
$icon-icon-direction: "\e913";
$icon-icon-doc: "\e914";
$icon-icon-doc-1: "\e915";
$icon-icon-download: "\e916";
$icon-icon-edit: "\e917";
$icon-icon-electric: "\e918";
$icon-icon-euros: "\e919";
$icon-icon-eye: "\e91a";
$icon-icon-eye-blind: "\e91b";
$icon-icon-fax: "\e91c";
$icon-icon-filter: "\e91d";
$icon-icon-home: "\e91e";
$icon-icon-img: "\e91f";
$icon-icon-info: "\e920";
$icon-icon-lightbulb: "\e921";
$icon-icon-link: "\e922";
$icon-icon-list: "\e923";
$icon-icon-lock: "\e924";
$icon-icon-mail: "\e925";
$icon-icon-menu: "\e926";
$icon-icon-miniarrowbottom: "\e927";
$icon-icon-miniarrowleft: "\e928";
$icon-icon-miniarrowright: "\e929";
$icon-icon-miniarrowup: "\e92a";
$icon-icon-minicards: "\e92b";
$icon-icon-minimize: "\e92c";
$icon-icon-more: "\e92d";
$icon-icon-mylocation: "\e92e";
$icon-icon-navigation: "\e92f";
$icon-icon-parking: "\e930";
$icon-icon-parking-1: "\e931";
$icon-icon-pause: "\e932";
$icon-icon-pdf: "\e933";
$icon-icon-phone: "\e934";
$icon-icon-place: "\e935";
$icon-icon-place-outline: "\e936";
$icon-icon-play: "\e937";
$icon-icon-PMR: "\e938";
$icon-icon-question: "\e939";
$icon-icon-quote: "\e93a";
$icon-icon-reload: "\e93b";
$icon-icon-roof: "\e93c";
$icon-icon-satisfaction: "\e93d";
$icon-icon-schedule: "\e93e";
$icon-icon-search: "\e93f";
$icon-icon-share: "\e940";
$icon-icon-social-facebook: "\e941";
$icon-icon-social-instagram: "\e942";
$icon-icon-social-linkedin: "\e943";
$icon-icon-social-pinterest: "\e944";
$icon-icon-social-twitter: "\e945";
$icon-icon-social-viadeo: "\e946";
$icon-icon-social-vimeo: "\e947";
$icon-icon-social-youtube: "\e948";
$icon-icon-star: "\e949";
$icon-icon-star-empty: "\e94a";
$icon-icon-star-half: "\e94b";
$icon-icon-touch: "\e94c";
$icon-icon-user: "\e94d";
$icon-icon-windmill: "\e94e";
$icon-icon-work: "\e94f";
$icon-icon-zip: "\e950";

